/**
 * Card Pattern
 * Layouts a basic card pattern design
 */

.post-listing {
  /*padding: 6px 0 0 0;*/
  /*font-family: Lato, sans-serif;*/
  margin: 0 0 30px 0;
  background: #ffffff;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
  position: relative;
  min-height: 150px;
  header {
    padding: 20px 35px; 
  }  
  .thumbnail {
    display: block;
    line-height: 20px;
    height: auto;
    padding: 0px;
  }
  .featured-thumbnail { 
    width: 100%;
    max-width: 100%;
  }
  .post_content {
    padding: 15px 35px 20px 35px; /* TODO Adjust for media size */
    min-height: 50px;
  }
  .excerpt {
    padding: 0 0 15px 0;
  }
  .more_link {
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    padding: 0;
    font-style: italic;
  }
  .fa {
    color: $accent-color;
  }
}

.post-title {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 46px;
  font-family: 'Lora', serif;
  font-style: italic;
  overflow: hidden;
  clear: both;
  a {
    color: #434242;
  }
}

article {
  footer {
    a { 
      color: rgb(100, 100, 100);
    }
  }
}

.post-meta {
  padding: 10px 35px; /* TODO Adjust for media size */
  border-top: 1px solid #ebeae7;
  span {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  .fa {
    padding-right: 7px;
  }
}

.post-category {
    float: right;
    /*word-spacing: 7px;*/
    a {
      padding-right: 4px;
    }
}

.featured_badge {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  line-height: 35px;
  padding: 0 35px;
  background: $accent-color;
  color: #ffffff;
  font-size: 22px;
  font-family: 'BenchNine', sans-serif;
  font-weight: bold;
  i {
    font-size: 22px;
    margin: 0 10px 0 0;
    font-weight: normal;
  }
  .fa {
    color: #fff;
  }
}
