.post-snippet {
  /*float: left;*/
  /*clear: both;*/
  padding: 0px 30px;
  text-align: center;
  margin-bottom: 20px;
  a {
    color: #2b4480;
  }
}

img.product-tile {
  max-height: 230px; 
  margin: 0 auto;
}
