/**
 * Card Pattern
 * Layouts a basic card pattern design
 */

.product-listing {
  /*float: left;*/
  padding: 20px;
  width: 100%;
  h2 {
    font-weight: 300;
    margin-top: 5px;
  }
}

.product-carousel {
  /*padding: 10px 0;*/
}
