/**
 * Card Pattern
 * Layouts a basic card pattern design
 */

.product-listing {
  /*float: left;*/
  /*padding: 20px;*/
  /*width: 100%;*/
  h2 {
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 15px;
    span {
      font-weight: 700;
      display: inline-block;
      border-right: 2px solid #333C;
      padding-right: 8px;
    }
  }
  p {
    line-height: 23px;
    font-weight: 100;
  }
}

.varieties {
  a {
    color: #333;
    text-decoration: #9E9E9E;
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }
}

.product-carousel {
  /*padding: 10px 0;*/
  margin-bottom: 10px;
}

.buy-button {
  text-align: center;
  margin-top: 10px;
  @media (min-width: 992px) and (max-width: 1199px) {
    margin-top: 18px;
  }
  @media (min-width: 1200px) {
    margin-top: 25px;
  }
  a {
    width: 80%;
    font-size: 16px;
  }
}
