.social-block {
	background: #ff5b5b;
	padding: 3px 5px;
	text-align: center;
	font-size: 0;
	a {
		color: #ff5b5b;
		font-size: 26px;
		height: 42px;
		line-height: 40px;
		width: 42px;
		padding: 0;
		margin: 9px 2px;
		background: #ffffff;
		border-radius: 21px;
		display: inline-block;
		text-decoration: none !important;
	}
}

