/**
 * Star Rating
 * http://www.ulmanen.fi/stuff/stars.php
 */
$icon-width: 27px;
$icon-height: 30px;
span.stars, span.stars span {
  display: block;
  background: url(../images/perfume-icon.png) 0px -19.45px repeat-x;
  background-size: 20px;
  width: 100px;
  height: 19.2px;
}
span.stars span {
  background-position: 0 0;
}
