body { 
  padding-top: 70px;
  background-color: #f2f2f2;
  font-family: Open Sans;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

nav {
  text-transform: uppercase;
}

.nav-social > li > a {
  padding-left: 9px;
  padding-right: 9px;
}

.side-block {
  /* #border: 1px solid #e3e3e3; */
  float: left;
  max-width: 100%;
  width: 100%;
  box-shadow: 1px 0px 9px rgba(0, 0, 0, 0.22);
  margin-bottom: 20px;
}

.about-block {
  float: left;
}

.img-block {
  float: left;
  img {
    max-width: 100%;
  }
}

.well {
  background-color: #fff;
  padding: 30px;
  width: 100%;
  margin-bottom: 0px;
  overflow: hidden;
  float: left;
  clear: both;
  h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
    color: #636467;
  }
}

.post-snippet {
  float: left;
  clear: both;
  margin-bottom: 20px;
  a {
    color: #2b4480;
  }
}

.thumbnail {
  width: 60px;
  height: 60px;
  float: left;
  display: block;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
  img {
    border-radius: 4px;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
}

.featured-thumbnail {
  margin: 0;
  overflow: hidden;
  max-height: 295px; /* TODO: 238px for smaller media */
  img {
    width: 100%;
  }
}

.headline { 
  margin-left: 80px;
}

.text-footer { font-size: 90%; }
