body { 
  padding-top: 50px;
  background-color: #f2f2f2;
  /*font-family: Open Sans;*/
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  color: $body-text-color;
  @include breakpoint($phone) {
    background-color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Open Sans', serif;
}

nav {
  text-transform: uppercase;
}

hr {
  background-color: rgba(0,0,0,0.1);
  border: 0;
  height: 1px;
  margin: 0 auto;
  width: 33%;
}

.navbar-toggle {
  padding-top: 6px;
  padding-bottom: 6px;
}


.material {
  background: #ffffff;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
  /*margin: 0 0 30px 0;*/
  /*position: relative;*/
}  

#contactForm button { 
  margin-bottom: 20px;
}

.nav-social > li > a {
  padding-left: 9px;
  padding-right: 9px;
}

.jumbotron h1 {
  font-family: Lora;
  letter-spacing: -1px;
}

.widget-block {
  border-top: 6px solid $accent-color;
}

.form-control { 
  height: auto;
  padding: 18px;
  font-size: 16px;
}



/* -------- */
/* Buttons */ 
/* -------- */

.btn-xl {
  padding: 13px 23px;
  text-transform: uppercase;
  font-size: 16px;
}

$btn-color: $accent-color;
.btn-fill {
    color: #fff;
    background-color: $medium-green;
    border-color: $medium-green;
    &:hover, &:focus {
      color: #fff;
      background-color: $btn-color;
      border-color: $btn-color;
  }
}

.form-group { 
  margin-bottom: 20px;
}

textarea.form-control {
  height: 222px;
}

.img-block {
  float: left;
  img {
    max-width: 100%;
  }
}


/* -------- */
/* Carousel */ 
/* -------- */

.carousel {
  /*width: 300px;*/
  /*padding-top: 10px;*/
}

.carousel-indicators {
    bottom: 0px;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

.carousel-inner > .item {
  @include breakpoint($md) { 
    height: 210px;
  }
  > img {
    max-height: 100%;
    margin: 0 auto;
  }
}

.disclaimer { 
  background-color: #046938;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 0;
}

.thumbnail {
  width: 60px;
  height: 60px;
  float: left;
  display: block;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
  img {
    border-radius: 4px;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
}

.featured-thumbnail {
  margin: 0;
  overflow: hidden;
  max-height: 295px; /* TODO: 238px for smaller media */
  img {
    width: 100%;
  }
}

#disqus_thread {
  padding: 0 30px;
  @include breakpoint($phone) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*.headline { */
  /*margin-left: 80px;*/
/*}*/

.text-footer { font-size: 90%; }
