body { 
  padding-top: 70px;
  background-color: #f2f2f2;
  /*font-family: Open Sans;*/
  font-family: Lato;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Open Sans', serif;
}

nav {
  text-transform: uppercase;
}


.nav-social > li > a {
  padding-left: 9px;
  padding-right: 9px;
}



.widget-block {
  border-top: 6px solid $accent-color;
}

.about-block {
  float: left;
}

.img-block {
  float: left;
  img {
    max-width: 100%;
  }
}


.thumbnail {
  width: 60px;
  height: 60px;
  float: left;
  display: block;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  overflow: hidden;
  img {
    border-radius: 4px;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
}

.featured-thumbnail {
  margin: 0;
  overflow: hidden;
  max-height: 295px; /* TODO: 238px for smaller media */
  img {
    width: 100%;
  }
}

/*.headline { */
  /*margin-left: 80px;*/
/*}*/

.text-footer { font-size: 90%; }
