<% wrap_layout :layout do %>
  <div class="container">
    <div class="row">

      <!-- Article -->
      <div class="col-md-8">
        <article class="post-listing">
          <header class="post-header ">
            <h3 class="post-tag">Featured</h3>
            <h3 class="post-title">
              <%= link_to current_article.title, current_article %>
            </h3>
          </header>
          <% link_to current_article do %>
            <%= image_tag current_article.data.img, :class => "img-responsive"  %>
          <% end %>
          <%= yield %>
        </article>
      </div>

      <div class="col-md-4">
        <%= partial(:side_well_fancy, :locals => { :related_articles => current_article.data.related_articles }) %>
      </div>
    </div>
  </div>
<% end %>
