<% wrap_layout :layout do %>
  <div class="container">
    <div class="row">

      <!-- Article -->
      <div class="col-md-8">
        <article class="post post-listing material">
          <%= partial("layouts/shared/article-header", :locals => { :article => current_article }) %>
          <main><%= yield %></main>
          <%= partial("layouts/shared/load-disqus", :locals => { :id => current_article.data.disqus_id }) %>
        </article>
      </div>

      <div class="col-md-4">
        <%= partial(:side_well_fancy, :locals => { :related_articles => current_article.data.related_articles }) %>
      </div>
    </div>
  </div>
<% end %>
