---
title: Contact Us
nav: contact
---

<div class="container">

  <div class="page-header">
    <h1>Contact Us</h1>
  </div>

  <form name="sentMessage" id="contactForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" name="fields[name]" class="form-control" placeholder="Name *" id="name" required>
          <p class="help-block text-danger"></p>
        </div>
        <div class="form-group">
          <input type="email" name="fields[email]" class="form-control" placeholder="Email *" id="email" required>
          <p class="help-block text-danger"></p>
        </div>
        <div class="form-group">
          <input type="tel" name="fields[phone]" class="form-control" placeholder="Phone" id="phone">
          <p class="help-block text-danger"></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <textarea class="form-control" name="fields[message]" placeholder="Message" id="message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div id="success"></div>
        <button type="submit" class="btn btn-xl btn-fill">Send Message</button>
      </div>
    </div>
  </form>

</div>
