---
title:
nav: product
subnav:
description:
---

<div class="container">
  <div class="row">

    <div class="col-md-8">
      <article class="post-listing content material">
        <%= partial(:product_listing, :locals => { :product => product }) %>
      </article>
    </div>

    <div class="col-md-4">
      <%= partial(:side_well_fancy) %>
    </div>
  </div>
</div>
