---
title:
nav: product
subnav:
description:
---
<% content_for(:proxytitle, get_brand_name(product) + " " + get_product_name(product)) %>

<div class="container">
  <div class="row">

    <div class="col-md-8">
      <article class="post post-listing content material">
        <%= partial(:product_listing, :locals => { :product => product }) %>
      </article>
      <%= partial("layouts/shared/amazon_native_ads") %>
    </div>

    <div class="col-md-4">
      <%= partial(:side_well_fancy) %>
    </div>
  </div>
</div>
