---
title: About
nav: about
---

.container
  .row: .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1

    .post-listing.material

      .post-content

        h1 About Us

        p Like most parents-to-be, we were equal parts excited and terrified of the journey in front of us. There were so many things to consider as our lives would soon be changed forever. Health, of course, took the spotlight.  At first we were very focused on Rachel’s diet, cutting out the obvious no-no’s and switching to mostly organic. We wanted the best-of-the-best going to that little baby, and we wanted to be in our best shape for his arrival. But we soon realized that what you put on your body can be just as harmful as what you put in your mouth. After all, your skin is the largest organ and acts as a major passageway to your bloodstream. Not to mention, skin is largely responsible for ridding our systems of waste...including the buildup of toxins and pathogens. 

        p Enter standard toiletries. Yikes! They’re chock full of chemicals and synthetic ingredients that are linked to disease, illness and inhibit the body’s natural process of eliminating waste. So not only had we been loading our systems with horrible ingredients, we were then blocking our skin from letting them out. 

        p It was time for an overhaul. Not just in the kitchen, but in the bathroom, the cleaning closet and the laundry room too! With the rest of the world coming to the same realization, the market is now flooded with “natural” products - both good and bad. We’ve all been down the “rabbit hole” of shopping for the right product. It’s time consuming, confusing and often frustrating. But...we kinda love it. And that’s why we started Nature of the Product. We’re here to create a place where the search is narrowed, shortlisted and perfected. Please enjoy our curated selection of the best all natural products, tips and tutorials. We’d love for you to join our community and share your own experiences. 

        p The time for a healthier, more natural life is now! 
        

        = image_tag "about-photo.jpg", :class => "img-responsive"
      
