<div class="social-block">
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-google-plus"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-rss"></i></a>
</div>
<div class="well">
  <div class="block">
    <h3>Popular Posts</h3>
    <div class="post-snippet">
      <div class="thumbnail">
        <%= image_tag "manliness-organic-deoderant.jpg", :width => "60px", :height => "60px"  %>
      </div>
      <div class="headline">
        <a href="#">Would you put this creepy deoderant on your pits?</a>
      </div>
    </div>
    <div class="post-snippet">
      <div class="thumbnail">
        <%= image_tag "jack-black-cool-ctrl-natural-deodorant.jpg", :width => "60px", :height => "60px"  %>
      </div>
      <div class="headline">
        <a href="#">Check out this awesome article about all natural deoderant.</a>
      </div>
    </div>
    <div class="post-snippet">
      <div class="thumbnail">
        <%= image_tag "jack-black-cool-ctrl-natural-deodorant.jpg", :width => "60px", :height => "60px"  %>
      </div>
      <div class="headline">
        <a href="#">Check out this awesome article about all natural deoderant.</a>
      </div>
    </div>
  </div>
</div>

