---
title:
nav: home
subnav:
description: This is a page description.
---

<div class="jumbotron text-center">
  <div class="container">
    <h1>Nature of the Product</h1>
    <p>We review the best natural hygiene products to provide you with honest, balanced information.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= partial(:post_list) %>
    </div>
    <div class="col-md-4">
      <%= partial(:side_well) %>
    </div>
  </div>
</div>
