---
title:
nav: home
subnav:
description: This is a page description.
---

<div class="jumbotron text-center">
  <div class="container">
    <h1>Nature of the Product</h1>
    <p>We review the best natural hygiene products to provide you with honest, balanced information.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-box col-md-8">
      <%= partial(:product_grid_cards, :locals => { :products => data.products }) %>
    </div>
    <div class="col-md-4">
      <div class="well">
        <div class="block">
          <h3>Popular Posts</h3>
          <div class="post-snippet">
            <div class="thumbnail">
              <img width="60px" height="60px" src="assets/images/manliness-organic-deoderant.jpg">
            </div>
            <div class="headline">
              <a href="#">Would you put this creepy deoderant on your pits?</a>
            </div>
          </div>
          <div class="post-snippet">
            <div class="thumbnail">
              <img width="60px" height="60px" src="assets/images/jack-black-cool-ctrl-natural-deodorant.jpg">
            </div>
            <div class="headline">
              <a href="#">Check out this awesome article about all natural deoderant.</a>
            </div>
          </div>
          <div class="post-snippet">
            <div class="thumbnail">
              <img width="60px" height="60px" src="assets/images/jack-black-cool-ctrl-natural-deodorant.jpg">
            </div>
            <div class="headline">
              <a href="#">Check out this awesome article about all natural deoderant.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
